* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0A0A0A;
    color: white;

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p {
    padding-left: 100px;
    padding-bottom: 50px;
    width: 50%;
}

/* Layout */

.full-width {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
}

.sub-container {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.white {
    background-color: white;
    color: black;
}

.page-break {
    padding: 50px;
    background-color: #1A1A1A
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: block;
    width: 100%;
}

.centre {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #1A1A1A;
    color: #CCCCCC;
    text-align: center;
    padding: 30px 0 20px 0;
    font-size: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

footer p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #CCCCCC;
    text-decoration: underline;
    margin: 0 10px;
    transition: color 0.2s;
}

footer a:hover {
    color: #FFFFFF;
}